<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin - Edit CRON event</title>

    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

         <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="adm">The Админка</a>
            </div>



            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <!-- <a href="adm-chats"><i class="fa fa-dashboard fa-fw"></i>The Чяты</a> -->
                            <a href="/adm-cron"><i class="fa fa-dashboard fa-fw"></i> Настройки-cron</a>
                            <a href="/adm-upload"><i class="fa fa-dashboard fa-fw"></i> The Загрузить новое</a>
                        </li>
  
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
     

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">Событие CRON</h2>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            
            <nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item"><a href="/adm">Админка</a></li>
			    <li class="breadcrumb-item"><a href="/adm-cron">Список событий CRON</a></li>
			    <li class="breadcrumb-item active" aria-current="page">Редактирование CRON</li>
			  </ol>
			</nav>
            
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            CRON Element
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form role="form" id="form">
                                        <div class="form-group">
                                            <label for="disabledSelect">_id</label>
                                            <input disabled class="form-control" id="_id" type="text" placeholder="Disabled input" disabled value="<%= obj._id %>">
                                        </div>                                    
                                        <div class="form-group">
                                            <label>Alias</label>
                                            <input class="form-control" id="alias" placeholder="Enter alias" value="<%= obj.alias %>">
                                        </div>
                                        <div class="form-group">
                                            <label>Type</label>
                                            <input class="form-control" id="type" placeholder="Enter type" value="<%= obj.type %>">
                                        </div>
                                        <div class="form-group">
                                            <label>Cron</label>
                                            <input class="form-control" id="cron" placeholder="Enter Cron string" value="<%= obj.cron %>">
                                        </div>                                        
                                        <div class="form-group">
                                            <label>Text</label>
                                            <textarea class="form-control" id="text" rows="5"><% if (obj.text){obj.text.forEach(function(line){ %><%= line %>
<% })} %></textarea>
                                        </div>
                                    </form>
                                    
										<div class="alert alert-danger" role="alert" HIDDEN>
										  Ошибка сохранения
										</div>
										<div class="alert alert-success" role="alert" HIDDEN>
										  Сохранено успешно
										</div>
                                    
                                        <div>
                                            <a href="/adm" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true"> Вернуться в список</a> &nbsp;&nbsp;&nbsp;&nbsp; 
                                            <button id="save" class="btn btn-lg btn-primary">Save</button>
										    <a href="/adm" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true"> Cancel</a>
                                        	
										</div>
                                    
                                </div>
                                
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>

 <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
    	
    	$("#save").click(function(){
    		
    		$(".alert").hide()
    		
    		var m =  $("#text").val().split("\n")
  
    		var s= new Array()

    		for (var i = 0; i < m.length; i++) {
    			if(m[i]!=''){
    				s.push(m[i])		
    			} 	
    		} 

   
    		
    		var id = $("#_id").val()
    		id = ((id=="new")?null:id)
    		
    		var obj = {
	    				   id:  id,
	    				   value: {
	    					   alias:  $("#alias").val(),
		    				   type :  $("#type").val(),
		    				   cron :  $("#cron").val(),
		    				   text:s	    					   
	    				   }	    				       				
    				  }
    		    		
    	
    		
    		$.ajax({method: "POST",
    			   url: "/service/cron",
    			   dataType: "json",
    			   data: JSON.stringify(obj),
    			   contentType: "application/json",
		    	   success: function(){
		    		   			$(".alert-success").show()
		    		   			console.log("success")
		    				},
	   			   error:function(data){
	   				   console.log("error")
	  					 alert(data.responseText)
	  					 	$(".alert-danger").show()
	  			 		}
    		})
    	        
    	});
    	
    });

    </script>

</body>

</html>
